<ion-header *ngIf="carro">
    <ion-navbar>
        <ion-title>Escolha</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding *ngIf="carro">
    <ion-slides pager="true">
        <ion-slide *ngFor="let foto of carro.fotos">
            <img [src]="foto"/>
        </ion-slide>
    </ion-slides>

    <ion-item-group>
        <ion-item-divider color="light">
            <ion-icon name="car"></ion-icon>
            VEÍCULO
        </ion-item-divider>

        <ion-item>{{ carro.nome }}</ion-item>
        <ion-item>{{ carro.preco }}</ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider color="light">
            <ion-icon name="options"></ion-icon>
            ACESSÓRIOS
        </ion-item-divider>

        <ion-item *ngFor="let acessorio of acessorios">

            <ion-label>
                <h2>{{acessorio.nome}}</h2>
                <h3>R${{acessorio.preco}}</h3>
            </ion-label>

            <ion-toggle color="secondary" #toggle (ionChange)="atualizaTotal(toggle.checked, acessorio)">
            </ion-toggle>

        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider color="light">
            <span right>Total: R$ {{ total }}</span>
        </ion-item-divider>
    </ion-item-group>

    <button ion-button block (click)="paginaCadastro()">Avançar</button>
</ion-content>
